.body{
margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #e7e2e2;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f7f4f4;
}


ul li:hover {
  background: #ede2e2;
}


.h1 {
  text-align: center;

}

.delete {
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  margin-left: auto;
}

.delete:hover {
  background-color: #6e6b6b;
  color: white;
}


.header {
  background-color: #f8f1f1;
  padding: 30px 40px;
  color: rgb(2, 1, 1);
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}



input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  background-color: rgb(240, 233, 233);
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #210eef;
  color: #ffffff;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}